/*---------------Global Styles---------------*/
/*---------------Font Properties and Colors---------------*/

$heading-font: "Great Vibes", cursive;
$body-font: "Open Sans", sans-serif;
$font-mono: monospace;
$dark-purple: #530595;
$yellow: #f7cc20;
$body-color: #2a2a34;
$sub-heading-color: #434343;
$heading-size: 4.3rem;
$sub-heading-size: 2.2rem;
$body-size: 1.8rem;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

//For font sizes

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //letter-spacing: -2rem;
}
.main {
  overflow: hidden;
}
html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  //overflow-x: hidden;

  /*1rem=10px*/
}

body,
input {
  font-family: $body-font;
  font-size: $body-size;
}

body {
  color: $body-color;
}

h1 {
  font-size: $heading-size;
  font-family: $heading-font;
  color: $dark-purple;
  font-weight: $font-regular;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: $body-font;
  font-weight: $font-bold;
  font-size: 2rem;
  color: $yellow;
  border: none;
  outline: none;
  background-color: $dark-purple;
  padding: 1rem 2rem;
  border-radius: 25px;
  margin: 1.5rem 0 0 0;
}

.button-links {
  cursor: pointer;
  font-family: $body-font;
  font-weight: $font-bold;
  font-size: 2rem;
  color: $yellow;
  background-color: $dark-purple;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  transition: 0.3s;

  &:hover {
    color: $dark-purple;
    background-color: $yellow;
  }
}
/*---------------Landing Page----------------*/

.container {
  //max-width: 968px;
  margin: 0 4rem;
}

/*---------------Header---------------*/
.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $dark-purple;
  transition: all 0.5s ease-in-out;
}
.animate {
  top: -100%;
}
/*---------------Nav---------------*/
.nav {
  height: 12rem;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-logo,
.nav-close,
.nav-toggle {
  color: $yellow;
}
.nav-logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-family: $heading-font;
  font-size: $heading-size - 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}
.nav-logo span {
  font-family: $body-font;
  font-size: $body-size;
  position: absolute;
  top: 4rem;
  left: 12rem;
  font-weight: $font-semibold;
}
.nav-menu {
  font-size: $sub-heading-size;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 2rem;
  font-size: $body-size;
}
.nav-link {
  color: $yellow;
  font-weight: $font-semibold;
  transition: 0.3s;
}
.nav-link:hover {
  //color: #D14D4D;
  border-bottom: $yellow 0.2rem solid;
}
.nav-toggle {
  display: none;
}

.nav-close {
  display: none;
}

.covid-content,
.service-content {
  text-align: center;
  margin: 1.5rem 20rem;
}
/*---------------Upcoming Events----------------*/
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  width: 90%;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 0 0;
  img {
    padding: 0.3rem;
  }
}
.mandela {
  opacity: 0.2;
  height: auto;
  z-index: -1;
  position: absolute;
}
#mandela-1 {
  margin: 0 70rem 0 0;
  max-width: 45rem;
  animation: spin 100s infinite alternate ease;
}
#mandela-2 {
  margin: 55rem 0 0 60rem;
  max-width: 30rem;
  animation: spin 30s infinite alternate-reverse ease;
}
.event-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  z-index: 5;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 17.6rem 19rem 9.8rem;
  grid-template-areas: "image" "text" "stats";
  font-family: "Open Sans";
  border-radius: 2.7rem;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 1rem 0rem;
  transition: 0.3s ease-in-out;
}

.card-image {
  grid-area: image;
  background: url("/Desktop/events/sunday.png");
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-size: cover;
  background-position: center;
}
.card-text {
  grid-area: text;
  margin: 1.5rem;
  text-align: center;

  h3 {
    font-size: $sub-heading-size;
    font-family: $body-font;
    //margin-bottom: 1rem;
  }
  p {
    color: $body-color;
    font-family: $body-font;
    font-size: $body-size;
  }
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background: #333333;
  .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: white;
  }

  .type {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  .value {
    font-size: 1.6rem;
    font-weight: normal;
  }

  .border {
    border-left: 1px solid $yellow;
    border-right: 1px solid $yellow;
  }

  img {
    width: 2rem;
    padding-top: 1rem;
    //filter: invert(0);
  }
}

.calendar {
  cursor: pointer;

  .value {
    font-size: 1.4rem;
  }
}

/*---------------Important Dates----------------*/

.dates-rec {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 3rem 0;
  color: $dark-purple;
}
.dates-events {
  background-color: #efe8f5;
  font-size: 20px;
  //justify-content: center;
  display: inline-block;
  padding: 2rem 1.5rem;
  border-radius: 2.5rem;
  text-align: center;
  font-family: $font-mono;
  line-height: 26px;

  h2 {
    font-family: $body-font;
    padding-bottom: 1rem;
  }
}

.a {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  padding-bottom: 2rem;
}

#mandela-3 {
  margin: -20rem 70rem 0 0;
  max-width: 40rem;
  animation: spin 100s infinite alternate ease;
}

/*---------------About Us----------------*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10rem;
  //flex-direction: column;
}
.laxmi {
  flex: 1 1 auto;
  max-width: 600px;
  min-width: 30vw;
  height: auto;
  padding: 3rem;
  margin: auto;
}
.about-title-text {
  text-align: left;
  flex: 1 1 auto;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 50vw;
  min-width: 20vw;
  margin: auto;
  p {
    padding: 3rem 0;
  }
}

/*---------------Pandit Ji----------------*/
#priest {
  position: relative;
}
.priest-content {
  display: flex;
  margin: 0 20rem;
  position: relative;
}
.pandit-title-mobile {
  display: none;
}
.pandit-title-desktop {
  margin: 0;
}
.pandit {
  max-width: 200px;
  height: auto;
  z-index: 10;
  border-radius: 2.5rem;
}
.priest-text {
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  p {
    line-height: 3rem;
  }

  a {
    margin: 2rem 0 0 0;
  }
}

#mandela-4 {
  margin: -15rem 0 0 -15rem;
  max-width: 50rem;
  animation: spin 100s infinite alternate ease;
}

/*--------------SERVICES---------------*/
#services {
  margin: 10rem 0;
}
.service-content {
  text-align: center;
  margin: 1.5rem 20rem;
  p {
    margin-bottom: 5rem;
  }
}
/*---------------Connet With Us---------------*/
.connect-everything {
  display: flex;
  justify-content: center;
  margin: 3rem 15rem;
  //position: relative;
}
#mandela-5 {
  width: 400px;
  margin: -30rem -50rem 0 0;
  animation: spin 30s infinite alternate-reverse ease;
  overflow: hidden;
}
#iphone {
  display: flex;
  z-index: -1;
  flex: 0.5 0.5 20rem;
  align-items: center;
  justify-content: center;

  img {
    max-width: 65vw;
  }
}

.connect-right-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0.5 1 30rem;
  padding-top: 3rem;
}
#bubble {
  display: none;
}
.social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
  width: 80%;
  &:last-child {
    margin-top: 6rem;
  }

  img {
    width: 70px;
    padding-right: 2rem;
  }

  a {
    color: #459b49;
  }

  a:hover {
    color: #380463;
  }
}

input {
  font-size: $body-size;
  width: 100%;
  border: none;
  border-bottom: 1px solid #5c5c5c;
  padding-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0);

  &:focus {
    border-bottom: 2px solid $yellow;
  }
}

input[type="submit"] {
  cursor: pointer;
  font-family: $body-font;
  font-weight: $font-bold;
  font-size: 2rem;
  color: $yellow;
  background-color: $dark-purple;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  transition: 0.3s;

  &:hover {
    color: $dark-purple;
    background-color: $yellow;
  }
}

#mc_embed_signup {
  display: none;
  width: 80%;
}
.indicates-required {
  text-align: end;
}
.asterisk {
  color: red;
}
form {
  padding: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

form label {
  font-weight: bold;
  font-size: 2rem;
}
/*---------------Footer----------------*/
footer {
  background-color: $dark-purple;
  z-index: 10;
}
.footer {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
  font-size: $body-size;
}
.footer-link {
  color: $yellow;
  font-weight: $font-semibold;
  transition: 0.3s;
}
.footer-link:hover {
  //color: #D14D4D;
  border-bottom: $yellow 0.2rem solid;
}

.scrollup {
  text-align: center;
  position: fixed;
  bottom: -30%;
  right: 2rem;
  background-color: $dark-purple;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  opacity: 0.6;
  color: $yellow;
  z-index: 50;
  font-size: 3rem;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    color: $dark-purple;
    background-color: $yellow;
  }
}

.show-scroll {
  bottom: 2rem;
}

//404
.page-404,
.text-404 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: auto;
}
/*---------------Calendar Page----------------*/
#searchInput {
  background-image: url("/Desktop/search.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 80vw;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid $dark-purple;
  margin-bottom: 12px;
}

.cal-download-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  justify-content: space-around;

  h6 {
    font-size: 10rem;
    font-weight: $font-bold;
    color: #d14d4d;
  }
}
.cal-button {
  margin: 1.5rem 1.5rem;
}
.months {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.month-rec {
  background-color: #efe8f5;
  color: $dark-purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1.5rem;
  width: 370px;
}
.dates {
  font-family: $font-mono;
  font-size: 20px;
  padding: 1rem 0;
  font-kerning: none;
  line-height: 26px;
  strong {
    color: #d14d4d;
  }
}
/*---------------Booking Page----------------*/
#marriage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 2rem;
}
.booking-items {
  margin: 1.5rem;
  width: 85vw;
  h3 {
    color: $dark-purple;
  }
  &:last-child p {
    margin-bottom: 3rem;
  }
}
.items {
  margin-left: 5rem;
  ul {
    list-style: circle;
    list-style-position: inside;
  }
}

hr {
  width: 90vw;
  opacity: 0.2;
}

@media screen and (max-width: 1575px) {
  .container {
    margin: 0 3rem;
  }
  #mandela-5 {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .dates p {
    font-size: 18px;
    line-height: 22px;
  }
  .dates-events {
    p {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .mandela {
    display: none;
  }
  .container {
    margin: 0 2rem;
  }
  .nav-logo {
    font-size: 3.1rem;
  }
  .nav-logo span {
    font-size: $body-size - 0.3rem;
    left: 10rem;
  }
  .nav-menu {
    position: fixed;
    background-color: $dark-purple;
    top: -500%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50% 0;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    //transition: 0.3s;
  }
  .nav-logo-img {
    width: 70px;
    height: auto;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    font-size: $sub-heading-size;
  }
  .show-menu {
    top: 0;
  }
  .nav-toggle {
    display: inline-flex;
    font-size: 3rem;
    cursor: pointer;
  }

  .nav-close {
    display: inline-flex;
    font-size: 4rem;
    position: absolute;
    top: 3.5rem;
    right: 1.5rem;
    cursor: pointer;
  }
  #services {
    margin: 3rem 0 5rem 0;
  }
  .covid-content,
  .service-content {
    margin: 1.5rem 5rem;
  }
  .about {
    flex-direction: column;
    margin: 0 3rem;
  }

  .about-title-text {
    text-align: center;
    line-height: 3rem;
    display: flex;
    align-items: center;
    max-width: 100vw;
  }
  .laxmi {
    max-width: 85vw;
    height: auto;
  }

  .priest-content {
    display: flex;
    margin: 0 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pandit-title-mobile {
    display: flex;
  }
  .pandit-title-desktop {
    display: none;
  }
  .pandit {
    margin: 3rem;
  }
  .priest-text {
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    p {
      line-height: 3rem;
    }
    a {
      margin: 2rem 0;
    }
  }

  /*---------------Connet With Us---------------*/
  .connect-everything {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 3rem 3rem;
  }

  #iphone {
    display: none;
    max-width: 80vw;
    margin-top: 3rem;
  }
  #bubble {
    display: block;
    position: relative;
    bottom: 20px;
    background-color: #dcf9c6;
    padding: 1rem;
    border-radius: 5px;
    animation: bounce 5s infinite;
    opacity: 0;
  }
  #msg {
    text-align: center;
    font-size: 2.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 100;
  }
  #square {
    background: #dcf9c6;
    width: 10px;
    height: 10px;
    right: 48%;
    transform: rotate(45deg);
    position: absolute;
    bottom: -5px;
  }
  #badge {
    background-color: rgb(231, 20, 20);
    position: absolute;
    top: 55px;
    font-size: 2rem;
    left: 120px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .social {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0 1.5rem;

    img {
      padding: 0rem 0rem 1rem 0rem;
      width: 70px;
    }
  }

  #mc_embed_signup {
    display: none;
    width: 90%;
  }

  .footer {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    row-gap: 2rem;
  }
  .footer-list {
    align-items: center;
  }
  .footer-item {
    font-size: $body-size - 0.2rem;
  }
  .booking-items {
    &:last-child {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

@media screen and (max-width: 400px) {
  .nav-logo-img {
    width: 55px;
  }
  .nav-logo {
    font-size: 3rem;
  }
  .nav-logo span {
    font-size: $body-size - 0.4rem;
    left: 9rem;
  }

  #mc_embed_signup {
    display: none;
  }
  .footer-item {
    font-size: $body-size - 0.3rem;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-25%);
  }
  10% {
    transform: translateY(-0%);
  }
  15% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}
