/*---------------Landing Page----------------*/
/*---------------Global Styles---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /*1rem=10px*/
}
h1 {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
  color: #530595;
  font-weight: 200;
}
li,
label,
input,
p,
address {
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", monospace;
  font-weight: 400;
  font-style: normal;
}
a {
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  font-family: "Big Shoulders Display", monospace;
  font-weight: 400;
  transition: 0.3s ease;
}
a:hover {
  color: #f5d65a;
}
section {
  width: 80%;
  margin: auto;
}
/*---------------Header---------------*/

.main-head {
  background: url("/Desktop/Header_Back.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  min-height: 54vh;
  align-content: center;
  width: 100%;
}
nav {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-top: 2rem;
  min-height: 10vh;
  align-items: center;
}
#logo {
  font-family: "Great Vibes", cursive;
  font-size: 4.5rem;
  color: #f5d65a;
  display: flex;
  align-items: center;
  flex: 1 1 40rem;

  img {
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    transform: scale(1.2);
  }
}

/*---------------Content---------------*/
/*---------------Main Titles---------------*/
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  text-align: center;
  margin-top: 1rem;

  img {
    padding: 0.3rem;
  }
}

.more-events {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

#more-events {
  padding: 0.8rem;
  border: 3px solid #530595;
  border-radius: 25px;
  color: #530595;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  font-size: 2.8rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 300px;
  font-family: "Big Shoulders Display", monospace;

  &:hover {
    color: #f5d65a;
    background-color: #530595;
  }
}

/*---------------Important Dates---------------*/
.dates-events {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateX(5%);

  img {
    height: 250px;
  }

  ul {
    list-style: none;
    padding: 0rem 1rem;
    line-height: 5rem;
  }
}

#dates {
  text-align: right;
  color: #530595;
}
/*---------------About Us---------------*/
.about-content {
  width: 80%;
  align-items: center;
  margin: auto;
  text-align: center;
  line-height: 3.5rem;

  span {
    font-size: 2rem;
  }
}
/*---------------Connet With Us---------------*/
.everything {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#iphone {
  display: flex;
  z-index: -1;
  border-radius: 10px;
  flex: 0.5 0.5 20rem;
  align-items: center;
  justify-content: center;

  img {
    width: 80%;
  }
}

#connect-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0.5 1 30rem;
  padding-top: 3rem;
}
#bubble {
  display: none;
}
.social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: justify;
  width: 80%;
  margin-top: 6rem;

  img {
    width: 70px;
    padding-right: 2rem;
  }

  a {
    color: #530595;
  }

  a:hover {
    color: #380463;
  }
}

input {
  font-size: 2rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #5c5c5c;
  padding-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;

  &:focus {
    border-bottom: 2px solid #f5d65a;
  }
}

input[type="submit"] {
  margin-top: 2rem;
  padding: 0.3rem 1rem;
  border: 3px solid #530595;
  border-radius: 25px;
  color: #530595;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  font-size: 2.8rem;
  cursor: pointer;

  &:hover {
    color: #f5d65a;
    background-color: #530595;
  }
}

input[type="text"],
input[type="email"] {
  font-family: "Open Sans";
}

#mc_embed_signup {
  width: 80%;
}
.indicates-required {
  text-align: end;
}
.asterisk {
  color: red;
}
form {
  padding: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

form label {
  font-weight: bold;
  font-size: 2rem;
}

/*---------------Footer---------------*/
footer {
  background: linear-gradient(#7b31b8, #530595);
  margin-top: 10rem;
  padding: 2rem 0rem;
  width: 100%;
}
.footer-content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.info1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 1rem 0rem;

  img {
    padding-right: 1rem;
    width: 3.2rem;
  }
}
.footer-info {
  flex: 1 1 40rem;
}

.footer-logo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 1 40rem;
}

#f-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: "Great Vibes";
  font-size: 4rem;
  color: #f5d65a;

  img {
    padding-right: 1rem;
  }
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------UPCOMING EVENTS PAGE---------------*/
.upcoming {
  background: radial-gradient(#56597d, #2a2a34);

  h1 {
    color: #f5d65a;
  }

  p {
    color: white;
  }
}

/*---------------social---------------*/
#social-upcoming-events {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.social-upcoming {
  width: 80%;
  display: flex;
  margin: auto;
  align-items: flex-start;
  justify-content: flex-start;

  a {
    color: #f5d65a;
  }

  a:hover {
    color: #d88e06;
  }

  img {
    width: 70px;
    padding-right: 1rem;
  }
}

.whatsapp-upcoming,
.fb-upcoming {
  display: flex;
  padding: 2rem;
  flex: 1 1 40rem;
  align-items: flex-start;
  justify-content: center;
}

.rando {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem;
}
/*---------------event cards---------------*/
.event-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.card {
  display: grid;
  grid-template-columns: 312px;
  grid-template-rows: 17.6rem 21rem 9.8rem;
  grid-template-areas: "image" "text" "stats";
  font-family: "Open Sans";
  border-radius: 2.7rem;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 2rem 0rem;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
}

.card-image-left {
  grid-area: image;
  background: url("/Desktop/events/karva.jpg");
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-size: cover;
}
.card-image-middle {
  grid-area: image;
  background: url("/Desktop/events/karva.jpg");
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 2rem;
  text-align: center;

  h3 {
    font-size: 2.3rem;
    font-family: "Open Sans";
    margin-bottom: 2rem;
  }
  p {
    color: #302f2f;
    font-family: "Open Sans";
    font-size: 1.8rem;
  }
}

.left {
  background: #bc5044;
}
.middle {
  background: #193674;
}
.right {
  background: #193674;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;

  .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: white;
  }

  .type {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  .value {
    font-size: 1.8rem;
    font-weight: normal;
  }

  .border {
    border-left: 1px solid #091a3f;
    border-right: 1px solid #091a3f;
  }

  img {
    width: 2.5rem;
    padding-top: 1rem;
    filter: invert(1);
  }
}

.calendar {
  cursor: pointer;

  .value {
    font-size: 1.5rem;
  }
}

/*
  #customAddToCalendar {
    background-color: transparent;
    border: none;
    color: white;
  }
  #customAddToCalendar2 {
    background-color: transparent;
    border: none;
    color: white;
  }
  #customAddToCalendar3 {
    background-color: transparent;
    border: none;
    color: white;
  }
  */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------404 PAGE---------------*/
.page-404 {
  background: linear-gradient(#7f44af, #2a2a34);
  background-repeat: no-repeat;
  margin: auto;
}
.main-404 {
  width: 90%;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  flex-wrap: wrap;
}
.laxmi {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;

  img {
    height: 100vh;
  }
}

.text-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  transform: translateY(15%);

  button {
    margin: 1rem 0rem;
    border: 3px solid white;
    border-radius: 25px;
    color: white;
    background-color: #530595;
    transition: 0.3s ease-in-out;
    font-size: 2.8rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    font-family: "Big Shoulders Display", monospace;
  }

  h1 {
    position: absolute;
    top: -25%;
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
    font-size: 40rem;
    z-index: 1;
  }
}

/*---------------Media Queries---------------*/
@media screen and (max-width: 1130px) {
  .main-404 {
    overflow: visible;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .text-404 {
    align-items: center;
    transform: translateY(0);
    height: 50vh;
    justify-content: flex-end;
    text-align: center;

    h1 {
      position: initial;
      font-size: 20rem;
    }
  }

  .laxmi {
    justify-content: flex-start;
    align-items: flex-start;

    img {
      height: 50vh;
    }
  }
}

@media screen and (max-width: 987px) {
  .social {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  input[type="submit"] {
    -webkit-appearance: none;
    color: #f5d65a;
    background-color: #530595;
  }

  .footer-logo {
    padding-top: 2rem;
    justify-content: center;
  }
  #f-logo {
    font-size: 3rem;

    img {
      width: 7rem;
    }
  }

  .info1 {
    justify-content: center;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  li,
  label,
  input,
  p,
  address {
    font-size: 2.5rem;
  }
  /*---------------Header---------------*/
  .main-head {
    background: url("/Desktop/Header_back_X.png");
    min-height: 50vh;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  #logo {
    font-size: 3.5rem;
    align-items: center;
    justify-content: center;

    img {
      transform: scale(0.8);
      padding-right: 0.5rem;
    }
  }

  /*---------------Content---------------*/
  /*---------------Main Titles---------------*/
  /*---------------Upcoming Events---------------*/
  .about-content {
    width: 100%;
    line-height: 3rem;
  }
  /*---------------Connet With Us---------------*/
  #iphone img {
    width: initial;
  }
  #bubble {
    display: block;
    position: relative;
    bottom: 20px;
    background-color: #dcf9c6;
    padding: 1rem;
    border-radius: 5px;
    animation: bounce 5s infinite;
    opacity: 0;
  }
  #msg {
    text-align: center;
    font-size: 2.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 100;
  }
  #square {
    background: #dcf9c6;
    width: 10px;
    height: 10px;
    right: 48%;
    transform: rotate(45deg);
    position: absolute;
    bottom: -5px;
  }
  #badge {
    background-color: rgb(231, 20, 20);
    position: absolute;
    top: 55px;
    font-size: 2rem;
    left: 120px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .social {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;

    img {
      padding: 0rem 0rem 1rem 0rem;
      width: 70px;
    }
  }

  #mc_embed_signup {
    width: 100%;
  }

  .info1 p,
  .info1 address,
  .info1 a {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.3rem;

    img {
      width: 30px;
    }
  }

  .event-cards {
    width: 100%;
  }
  .card {
    transform: scale(0.95);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

    &:hover {
      transform: scale(0.95);
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    }
  }
  /*UPCOMING EVENTS PAGE*/
  #social-upcoming-events {
    width: 100%;
  }
  .social-upcoming {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;

    img {
      padding: 0rem 0rem 1rem 0rem;
      width: 70px;
    }
  }

  .whatsapp-upcoming,
  .fb-upcoming {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
  }
  #mc_embed_signup {
    width: 100%;
  }

  .text-404 {
    p {
      font-size: 2.1rem;

      .text-404 h1 {
        font-size: 15rem;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(-25%);
  }
  10% {
    transform: translateY(-0%);
  }
  15% {
    transform: translateY(-10%);
  }
  20% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}
