/*---------------Landing Page----------------*/
/*---------------Global Styles---------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*1rem=10px*/
}

h1 {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
  color: #530595;
  font-weight: 200;
}

li,
label,
input,
p,
address {
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", monospace;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  font-family: "Big Shoulders Display", monospace;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

a:hover {
  color: #f5d65a;
}

section {
  width: 80%;
  margin: auto;
}

/*---------------Header---------------*/
.main-head {
  background: url("/Desktop/Header_Back.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  min-height: 54vh;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-top: 2rem;
  min-height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  font-family: "Great Vibes", cursive;
  font-size: 4.5rem;
  color: #f5d65a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#logo img {
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*---------------Content---------------*/
/*---------------Main Titles---------------*/
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  text-align: center;
  margin-top: 1rem;
}

.title img {
  padding: 0.3rem;
}

.more-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

#more-events {
  padding: 0.8rem;
  border: 3px solid #530595;
  border-radius: 25px;
  color: #530595;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 2.8rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  font-family: "Big Shoulders Display", monospace;
}

#more-events:hover {
  color: #f5d65a;
  background-color: #530595;
}

/*---------------Important Dates---------------*/
.dates-events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

.dates-events img {
  height: 250px;
}

.dates-events ul {
  list-style: none;
  padding: 0rem 1rem;
  line-height: 5rem;
}

#dates {
  text-align: right;
  color: #530595;
}

/*---------------About Us---------------*/
.about-content {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: justify;
  line-height: 3.5rem;
}

.about-content span {
  font-size: 2rem;
}

.pandit-content {
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
  line-height: 3.5rem;
}

.pandit-content img {
  width: 200px;
  border-radius: 2.5rem;
}

.pandit-content span {
  font-size: 2rem;
}

/*---------------Connet With Us---------------*/
.everything {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#iphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  border-radius: 10px;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 0.5 20rem;
          flex: 0.5 0.5 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#iphone img {
  width: 80%;
}

#connect-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 1 30rem;
          flex: 0.5 1 30rem;
  padding-top: 3rem;
}

#bubble {
  display: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  width: 80%;
  margin-top: 6rem;
}

.social img {
  width: 70px;
  padding-right: 2rem;
}

.social a {
  color: #530595;
}

.social a:hover {
  color: #380463;
}

input {
  font-size: 2rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #5c5c5c;
  padding-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

input:focus {
  border-bottom: 2px solid #f5d65a;
}

input[type="submit"] {
  margin-top: 2rem;
  padding: 0.3rem 1rem;
  border: 3px solid #530595;
  border-radius: 25px;
  color: #530595;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 2.5rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #f5d65a;
  background-color: #530595;
}

input[type="text"],
input[type="email"] {
  font-family: "Open Sans";
}

#mc_embed_signup {
  width: 80%;
}

.indicates-required {
  text-align: end;
}

.asterisk {
  color: red;
}

form {
  padding: 2rem;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

form label {
  font-weight: bold;
  font-size: 2rem;
}

/*---------------Footer---------------*/
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#7b31b8), to(#530595));
  background: linear-gradient(#7b31b8, #530595);
  margin-top: 10rem;
  padding: 2rem 0rem;
  width: 100%;
}

.footer-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 1rem 0rem;
}

.info1 img {
  padding-right: 1rem;
  width: 3.2rem;
}

.footer-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#f-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Great Vibes";
  font-size: 4rem;
  color: #f5d65a;
}

#f-logo img {
  padding-right: 1rem;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------UPCOMING EVENTS PAGE---------------*/
.upcoming {
  background: radial-gradient(#56597d, #2a2a34);
}

.upcoming h1 {
  color: #f5d65a;
}

.upcoming p {
  color: white;
}

/*---------------social---------------*/
#social-upcoming-events {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-upcoming {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social-upcoming a {
  color: #f5d65a;
}

.social-upcoming a:hover {
  color: #d88e06;
}

.social-upcoming img {
  width: 70px;
  padding-right: 1rem;
}

.whatsapp-upcoming,
.fb-upcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rando {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0rem;
}

/*---------------event cards---------------*/
.event-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 312px;
      grid-template-columns: 312px;
  -ms-grid-rows: 17.6rem 21rem 9.8rem;
      grid-template-rows: 17.6rem 21rem 9.8rem;
      grid-template-areas: "image" "text" "stats";
  font-family: "Open Sans";
  border-radius: 2.7rem;
  background: white;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 2rem 0rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-image-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background: url("/Desktop/events/krishna_1.jpg");
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-size: cover;
}

.card-image-middle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  background: url("/Desktop/events/shiv.jpg");
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-size: cover;
}

.card-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  margin: 2rem;
  text-align: center;
}

.card-text h3 {
  font-size: 2.2rem;
  font-family: "Open Sans";
  margin-bottom: 1rem;
}

.card-text p {
  color: #302f2f;
  font-family: "Open Sans";
  font-size: 1.8rem;
}

.album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.embedsocial-album {
  width: 80%;
}

.left {
  background: #bc5044;
}

.middle {
  background: #240221;
}

.right {
  background: #193674;
}

.card-stats {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stats;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.card-stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  color: white;
}

.card-stats .type {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.card-stats .value {
  font-size: 1.8rem;
  font-weight: normal;
}

.card-stats .border {
  border-left: 1px solid #091a3f;
  border-right: 1px solid #091a3f;
}

.card-stats img {
  width: 2.5rem;
  padding-top: 1rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.calendar {
  cursor: pointer;
}

.calendar .value {
  font-size: 1.5rem;
}

/*
  #customAddToCalendar {
    background-color: transparent;
    border: none;
    color: white;
  }
  #customAddToCalendar2 {
    background-color: transparent;
    border: none;
    color: white;
  }
  #customAddToCalendar3 {
    background-color: transparent;
    border: none;
    color: white;
  }
  */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------404 PAGE---------------*/
.page-404 {
  background: -webkit-gradient(linear, left top, left bottom, from(#7f44af), to(#2a2a34));
  background: linear-gradient(#7f44af, #2a2a34);
  background-repeat: no-repeat;
  margin: auto;
}

.main-404 {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.laxmi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

.laxmi img {
  height: 100vh;
}

.text-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

.text-404 button {
  margin: 1rem 0rem;
  border: 3px solid white;
  border-radius: 25px;
  color: white;
  background-color: #530595;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 2.8rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 2rem;
  font-family: "Big Shoulders Display", monospace;
}

.text-404 h1 {
  position: absolute;
  top: -25%;
  font-family: "Open Sans";
  font-weight: bold;
  color: white;
  font-size: 40rem;
  z-index: 1;
}

/*---------------Read More---------------*/
.read-more-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read-more-content img {
  width: 90%;
  padding: 2rem;
  border-radius: 5rem;
}

/*---------------Media Queries---------------*/
@media screen and (max-width: 1130px) {
  .main-404 {
    overflow: visible;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-404 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 50vh;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
  }
  .text-404 h1 {
    position: initial;
    font-size: 20rem;
  }
  .laxmi {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .laxmi img {
    height: 50vh;
  }
}

@media screen and (max-width: 987px) {
  .social {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  input[type="submit"] {
    -webkit-appearance: none;
    color: #f5d65a;
    background-color: #530595;
  }
  .footer-logo {
    padding-top: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #f-logo {
    font-size: 3rem;
  }
  #f-logo img {
    width: 7rem;
  }
  .info1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pandit-content {
    width: 100%;
  }
  .acharyashukla {
    width: 200px;
    border-radius: 2.5rem;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  li,
  label,
  input,
  p,
  address {
    font-family: "Big Shoulders Display", monospace;
    font-size: 2.5rem;
  }
  /*---------------Header---------------*/
  .main-head {
    background: url("/Desktop/Header_back_X.png");
    min-height: 50vh;
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  #logo {
    font-size: 3.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #logo img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    padding-right: 0.5rem;
  }
  /*---------------Content---------------*/
  /*---------------Main Titles---------------*/
  /*---------------Upcoming Events---------------*/
  .about-content {
    width: 100%;
    line-height: 3rem;
  }
  /*---------------Connet With Us---------------*/
  #iphone img {
    width: initial;
  }
  #bubble {
    display: block;
    position: relative;
    bottom: 20px;
    background-color: #dcf9c6;
    padding: 1rem;
    border-radius: 5px;
    -webkit-animation: bounce 5s infinite;
            animation: bounce 5s infinite;
    opacity: 0;
  }
  #msg {
    text-align: center;
    font-size: 2.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 100;
  }
  #square {
    background: #dcf9c6;
    width: 10px;
    height: 10px;
    right: 48%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    bottom: -5px;
  }
  #badge {
    background-color: #e71414;
    position: absolute;
    top: 55px;
    font-size: 2rem;
    left: 120px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 50%;
  }
  .social {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 10rem;
  }
  .social img {
    padding: 0rem 0rem 1rem 0rem;
    width: 70px;
  }
  #mc_embed_signup {
    width: 100%;
  }
  .info1 p,
  .info1 address,
  .info1 a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 2.3rem;
  }
  .info1 p img,
  .info1 address img,
  .info1 a img {
    width: 30px;
  }
  .event-cards {
    width: 100%;
  }
  .card {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }
  .card:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
  /*UPCOMING EVENTS PAGE*/
  #social-upcoming-events {
    width: 100%;
  }
  .social-upcoming {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: auto;
  }
  .social-upcoming img {
    padding: 0rem 0rem 1rem 0rem;
    width: 70px;
  }
  .pandit-content {
    width: 100%;
  }
  .pandit-content img {
    width: 200px;
    border-radius: 2.5rem;
  }
  .whatsapp-upcoming,
  .fb-upcoming {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  #mc_embed_signup {
    width: 100%;
  }
  .text-404 p {
    font-size: 2.1rem;
  }
  .text-404 p .text-404 h1 {
    font-size: 15rem;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  5% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  10% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  15% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  20% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  5% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  10% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  15% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  20% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */